# ignorer la base de donnée 
db.sqlite3

# Ignorer les fichiers Python précompilés
__pycache__/
*.pyc

# Ignorer le paramétrage de VSCode
.vscode

# Ignorer l'environnement virtuel Python
bin/
lib/
# lib64 est un lien symbolique sur lib
lib64
pyvenv.cfg

# Reset de la base en mode dev
fixtures_donnees_base.json
reset_db.sh

