{% extends 'inventaire/parts/bootstrap.html' %}

{% load django_bootstrap5 %}


{% block body %}

    <nav class="navbar navbar-expand-lg bg-info-subtle" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item pe-4"><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
                    <li class="nav-item dropdown pe-4">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                            Matériel        
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="{% url 'nouveau_materiel' %}">Nouveau...</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'sortie_materiel' %}">Sortie...</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pe-4"><a class="nav-link" href="{% url 'inventaire' %}">Inventaire</a></li>                  
                    <li class="nav-item pe-4"><a class="nav-link" href="{% url 'reparer_et_configurer' %}">Travailler sur...</a></li>
                    <li class="nav-item dropdown pe-4">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Rapports
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'bilan_annuel' %}">Bilan annuel</a></li>
                            <li><a class="dropdown-item" href="{% url 'bilan_ecologic' %}">Bilan Ecologic</a></li>
                            <li><a class="dropdown-item" href="{% url 'etat_stock' %}">Etat du stock</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'mon_compte' %}">Mon compte</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center pt-4">{% block title %} TITRE {% endblock %}</h1>

        {% block contenu %} CONTENU {% endblock %}
    </div>

    <!-- Met en évidence la page en cours dans le menu -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var active_link = document.querySelector("a[href='" + location.pathname + "']");
            if (active_link) {
                active_link.classList.add("active");
                active_link.setAttribute("aria-current", "page");
            }
        });
    </script>

{% endblock %}
