{% extends 'inventaire/bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'formset_default' %}">Inventaire</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'nouveau_materiel' %}">Nouveau matériel</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_by_field' %}">Sortie de matériel</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_horizontal' %}">Travailler sur...</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_inline' %}">Anomalies</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'form_with_files' %}">Rapports</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'misc' %}">Mon compte</a></li>
        </ul>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
