{% extends 'inventaire/parts/menu.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}Inventaire{% endblock %}

{% block contenu %}

    <form action="" method="get">
        <input type="submit" />
    </form>

    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>#</td>
                <th>Marque</td>
                <th>Modèle</td>
                <th>Poids</td>
            </tr>
        </thead>

        {% for line in page_liste %}
        <tbody>
            <tr>
                <th><a href="details_pc/{{ line.0 }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ line.0 }}</a></th>
                <td>{{ line.1 }}</td>
                <td>{{ line.2 }}</td>
                <td>{{ line.3 }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>    

    {% bootstrap_pagination page_liste url="inventaire?page=1" size="lg" justify_content="center" %}

{% endblock %}
