{% extends 'inventaire/new_bs.html' %}

{% load django_bootstrap5 %}


{% block body %}

    <nav class="navbar navbar-expand-lg bg-info-subtle" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'formset_default' %}">Inventaire</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'nouveau_materiel' %}">Nouveau matériel</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'form_by_field' %}">Sortie de matériel</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'form_horizontal' %}">Travailler sur...</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Anomalies
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">PCs non renseignés</a></li>
                            <li><a class="dropdown-item" href="#">PCs en attente</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Matériels non pesés</a></li>
                            <li><a class="dropdown-item" href="#">Autres anomalies d'inventaire</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'form_with_files' %}">Rapports</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'misc' %}">Mon compte</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center pt-4">{% block title %} TITRE {% endblock %}</h1>

        {% block contenu %} CONTENU {% endblock %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var active_link = document.querySelector("a[href='" + location.pathname + "']");
            if (active_link) {
                active_link.classList.add("active");
                active_link.setAttribute("aria-current", "page");
            }
        });
    </script>

{% endblock %}
